%div#numbers2
  .row.detail
    .col-md-12
      %div.detail_layout{style: 'height: 170px;border: 1px solid #ccc;padding: 10px'}
        %p.pull-right.closebutton1.pointer
          %img.img-responsive.image_close{src: asset_path('close.png')}
        = form_tag('/create_contact', remote: true, method: :post, id: 'create-contact') do
          %input.form-control.input-heignt{type: 'text', id: 'username', class: 'username', name: 'name', required: true, placeholder: "Name", autofocus: true}
          %br
          %input.form-control.input-heignt{type: 'text', id: 'number', class: 'number', name: 'number', required: true , placeholder: "Number"}
          %br
          %input.btn.btn-primary{:type => "submit", value: 'create', class: 'submit_button', id: "submit-contact"}