<div id="numbers2">
  <div class="row detail">
    <div class="col-md-12">
      <div class="detail_layout" style="height: 170px;border: 1px solid #ccc;padding: 10px">
        <p class="pull-right closebutton1 pointer">
          <img class="img-responsive image_close" src="<%= asset_path('close.png') %>"/>
        </p>
        <%= form_tag('/create_contact', remote: true, method: :post, id: 'create-contact') do %>
          <input class="username form-control input-height" id="username" name="name" placeholder="Name" required="<%= true %>" type="text"></input>
          <br/>
          <input class="number form-control input-height" id="number" name="number" placeholder="Mobile Number" required="<%= true %>" type="text"></input>
          <br/>
          <input class="submit_button btn btn-primary" id="submit-contact" type="submit" value="create"></input>
        <% end %>
      </div>
    </div>
  </div>
</div>