%div#numbers1
  .row.detail
    .col-md-12
      %div.detail_layout{style: 'height: 150px;border: 1px solid #ccc;padding: 10px'}
        %p.pull-right.closebutton.pointer
          %img.img-responsive.image_close{src: asset_path('close.png')}
        %h4
          = "Name: #{@user.name}"
        %h5
          = "Number: #{@user.number}"